In [348]:
import pandas as pd
import numpy as np

In [349]:
df = pd.read_csv('../database/alunos-ativos-da-pos-graduacao.csv', sep=';', usecols=['nome_aluno']).sample(frac=1).reset_index(drop=True)
df = df.rename(columns={'nome_aluno' : 'nome'})

In [350]:
#Atribuindo sexo considerando nomes com maior frequencia
df_nomes_frequencia = df['nome'].map(lambda y: y.split()[0]).value_counts()

nomes_masculinos = ['Lucas', 'João', 'Gabriel', 'Matheus', 'Rafael', 'Guilherme', 'Gustavo', 'Bruno', 'Luiz', 'Paulo', 'Pedro', 'André', 'José', 'Rodrigo', 'Thiago', 'Felipe', 'Daniel', 'Marcelo', 'Eduardo']
nomes_femininos = ['Ana', 'Maria', 'Mariana', 'Bruna', 'Gabriela', 'Camila', 'Fernanda', 'Amanda', 'Aline', 'Leticia', 'Larissa', 'Juliana', 'Jéssica', 'Beatriz', 'Marina']

df['sexo'] = None

df.loc[df['nome'].str.split().str[0].isin(nomes_masculinos), 'sexo'] = 'M'
df.loc[df['nome'].str.split().str[0].isin(nomes_femininos), 'sexo'] = 'F'

lista_sexo_aleatorio = np.random.choice(['M', 'F'], size=df['sexo'].isnull().sum())
df.loc[df['sexo'].isnull(), 'sexo'] = lista_sexo_aleatorio

In [351]:
#Define data de nascimento e idade
df['nascimento'] = None
df.loc[df['nascimento'].isnull(), 'nascimento'] = np.random.choice(pd.date_range(start='1910-01-01', end='2014-12-31').strftime('%Y-%m-%d'), size=len(df))

df['idade'] = (pd.Timestamp.now() - pd.to_datetime(df['nascimento'])).dt.days // 365

In [352]:
#define altura com base com influencia do sexo
df['altura'] = np.random.randint(120, 210, size=len(df))
df.loc[df['sexo'] == 'F', 'altura'] = (df['altura'] - np.random.randint(1, 8))
df.loc[df['sexo'] == 'M', 'altura'] = (df['altura'] + np.random.randint(1, 8))

In [353]:
df['peso'] = np.round(np.random.uniform(25.0, 210.0, size=len(df)), decimals=2)
df

,nome,sexo,nascimento,idade,altura,peso
0,Ricardo Aparecido Sasso,M,1973-02-16,51,152,187.45
1,Thales Felipe Dantas Alves,F,1997-12-27,26,145,103.02
2,Juvenilto Soares Nascimento,M,2004-01-04,20,148,126.83
3,Matheus Alves de Siqueira,M,1932-02-13,92,135,49.58
4,Larissa Bistafa Antunes de Oliveira,F,1964-12-23,59,125,42.25
...,...,...,...,...,...,...
3880,Elaine Alves Raimundo,M,1997-09-12,26,147,51.74
3881,Gabriela Aparecida da Cunha Yamane,F,1981-11-06,42,168,166.38
3882,Lauren Ellen da Silva,F,2007-04-29,17,156,129.05
3883,Thalita Frigo da Rocha,F,1943-09-20,80,141,204.99
3884,Reynier Báez Gómez,M,1966-10-08,57,159,196.23

In [354]:
"""
df['pressao-arterial']
df['glicemia']
df['frequencia-cardiaca']
df['circunferencia-cintura']
df['diabetes']
df['doenca-cronica']
df['tabagismo']
df['colesterol']
df['funcao-renal']
df['alergia']
df['duracao-sono']"""

"\ndf['pressao-arterial']\ndf['glicemia']\ndf['frequencia-cardiaca']\ndf['circunferencia-cintura']\ndf['diabetes']\ndf['doenca-cronica']\ndf['tabagismo']\ndf['colesterol']\ndf['funcao-renal']\ndf['alergia']\ndf['duracao-sono']"